<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4821994626434557",
        enable_page_level_ads: true
      });
    </script>
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
   
      {% if site.show_downloads %}
        <a href="{{ site.url }}" class="btn">主页</a>
        <a href="https://zhanghuocheng.github.io/2020/06/27/Introduction.html" class="btn">个人简介</a>
        <a href="#" class="btn">运动</a>
        <a href="#" class="btn">生活</a>
        <a href="#" class="btn">计算机技术</a>
        <a href="#" class="btn">哲学</a>
        <a href="#" class="btn">方法论</a>
      
      {% endif %}

    
    </header>

    <main id="content" class="main-content" role="main">
      
      {{ content }}

      <footer class="site-footer">
        <span>联系方式:879670231@qq.com</span>
           </footer>
    </main>
  </body>
</html>